<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div>
        <form method="post" action="main">
            <input type="text" name="name" placeholder="введите имя"/>
            <input type="text" name="email" placeholder="введите email"/>
            <button type="submit">добавить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div>All users</div>
    <form method="post" action="filter">
        <input type="text" name="name">
        <button type="submit">найти</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{email}}</i>
        <strong>
            {{#author}}
                {{name}}
            {{/author}}
        </strong>
    </div>
    {{/users}}
</body>

</html>